form {
    &.input-no-reg {
        flex-direction: column;
    }

    button[id="maincta"] {
        margin: var(--spacing-md) 0;
    }

    .actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        button {
            place-self: flex-start;
        }
    }
}