.container {
    .detail-extend {
        flex-basis: 25%;
    }

    .exp-list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        transition: all 0.3s ease;
    }

    .detail-collapse {
        .exp-list {
            flex-direction: row;
        }
    }


}

.exp-recap-card{
    border: 2px solid var(--light);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
}

.exp {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-self: start;
    justify-self: end;
    padding:  auto;

    .ctas {
        display: flex;
        gap: var(--spacing-sm);
        justify-content: space-between;
    }

    .details {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) 0;
    }
}