main {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

/*#region button*/
/* Stile generico bottoni */
button {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bg);
  cursor: pointer;

  font-size: 16px;
  font-weight: 550;

  padding: var(--spacing-sm);

  border: var(--button-border);
  border-radius: var(--border-radius);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:disabled {
      color: var(--button-disabled-color);
      background-color: var(--button-disabled-bg);
      cursor: auto;
      border: var(--button-disabled-border);
  }

  &.cancel {
      background-color: var(--button-cancel-bg);
      color: var(--button-cancel-color);
      border: var(--button-cancel-border);
    }
}
/*#endregion button*/

/*#region anchor*/
/* Stile generico anchors */

a {
  color: var(--secondary-text-color);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}
/*#endregion anchor*/

/*#region input*/
/* Stile generico input */

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: var(--spacing-sm);

  &:last-child {
    margin-bottom: 0;
  }
}

label {
  color: var(--input-color);
  display: block;
  font-size: 16px;
  font-weight: 550;
}

.suggestion {
  font-size: 14px;
  color: var(--input-suggestion-color);
}

input {
  font-size: 16px;
  border: 2px solid var(--input-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);

  &:focus {
    outline: 3px solid var(--input-focus);
  }

  &:user-invalid {
    border-color:var(--input-error-border);
    outline-color: var(--input-error-border);

    & + .suggestion {
      color: var(--input-error-color);
    }
  }
}

/*#endregion input*/

/*#region container*/
/* Stile generico container */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
  }
}

.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.data-input {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
/*#endregion container*/

/*#region userDataInputForm*/
/* Stile form per inserimento dati utente */
form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  >h3 {
    flex-basis: 100%;
  }

  >div {
    padding: 0 var(--spacing-md);
    flex-basis: 50%;
  }

  > span{
    width: 100%;

    >button {
      place-self: end;
      margin-right: var(--spacing-md);
    }
  }
}
/*#endregion userDataInputForm*/