:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --border-radius: 6px;

  /* colori */
  --white: #FFFFFF;
  --light: #F2D8BA;
  --brown: #524948;
  --deep-brown: #342f2e;
  --teal: #1D7874;

  /* button */
  --disabled: #BDBDBD;

  /* input */
  --input-focus: #2AACA6;
  --input-border: #29A8A2;
  --input-error-color: #C1121F;
  --input-error-border: #BA181B;

  /* toast */
  --toast-success-bg: #4f772d;
  --toast-success-border: #245501;
  --toast-error-bg: #C1121F;
  --toast-error-border: #BA181B;

  /* spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;

  color: var(--white);
  background-color: var(--brown);
}

html {
  box-sizing: border-box;
}

/* previene scroll orizzontale*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
