.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    max-height: 600px;
    
    @media screen and (min-width: 768px) {
        flex-direction: row;
        max-height: 150px;
        max-height: 400px;
    }
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: var(--card-shadow-hover);
}

.card-image {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        border-radius: var(--img-card-radius) 0 0 var(--img-card-radius);
        width: 100%;
        max-width: 150px;
        height: auto;
    }
}

.card-content {
    padding: var(--spacing-sm);
}

.card-title {
    color: var(--card-color-accent);
    font-size: 1.5rem;
    margin: 0 0 8px;
}

.card-description {
    font-size: 1rem;
    color: var(--card-color);
}

.card-foot {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: var(--spacing-md);
}

.card-price{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--card-color-accent);
}

@media (min-width: 768px) {
    .card {
        margin: 0 0 var(--spacing-md);
    }
}